# DATABASE_URL=postgresql://postgres:postgres@localhost:5433/jivas-chat
# JIVAS_AGENT_ID=n:Agent:682f30bb2939574bc36a30b4
# JIVAS_HOST="http://localhost:8000"
# JIVAS_EMAIL="admin@jivas.com"
# JIVAS_PASSWORD="password"
# ENCRYPTION_KEY="password"
